html, body {
    height: 100%;
    overflow: hidden;
}
#log {
    height: 10em;
    overflow-y: scroll;
    border: 1px solid Black;
    margin-top: 1em;
    padding: 0.5em;
}
#log p {
    margin: 0;
    padding: 0;
}
#controls {
    margin-top: 1em;
    text-align: center;
}
div.static-asset {
    width: 249px;
    height: 193px;
    background-image: url('../img/down.jpg');
}